<a href="/#">
  <article>
    <header>
      <span>
        <span>BDO</span>
        <span>Cash</span>
      </span>
      <span>
          <svg width="22" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 20">
            <path fill="#55bf53" fill-rule="evenodd" d="M0 19V4h20.998A.996.996 0 0 1 22 5v14a1 1 0 0 1-1.002 1H1.002A.996.996 0 0 1 0 19zM18 .998V3H0C0 1.5 1.3-.003 3 0h13.998A.998.998 0 0 1 18 .999zM18 10c-1.101 0-2 .897-2 2 0 1.104.899 2 2 2 1.1 0 2-.896 2-2 0-1.103-.9-2-2-2zm0 3a1 1 0 1 1-.001-2.001A1 1 0 0 1 18 13z"></path>
          </svg>
      </span>
    </header>
    <h1>+100,000 PHP</h1>
    <ul>
      <li>
        <div>
          <div>
            <span>
              <img src="/assets/img/avatar.png" alt="Aivan  Monceller">
            </span>
            <span></span>
          </div>
        </div>
      </li>
    </ul>
  </article>
</a>